<div class="container mt-4 py-4 p-5">
  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      {{> message}}
      <form action="/records/{{record._id}}?_method=PUT" method="POST">
        <div class="row mb-4 g-2 align-items-center">
          <label for="name" class="mb-1 col-md-2 col-form-label">名稱* :</label>
          <div class="col-md-9">
            <input
              type="text"
              id="name"
              placeholder="name"
              name="name"
              class="form-control"
              value="{{record.name}}"
              required
            />
          </div>
        </div>

        <div class="row mb-4 g-2 align-items-center">
          <label for="Date" class="mb-1 col-md-2 col-form-label">日期* :</label>
          <div class="col-md-9">
            <input
              type="date"
              name="Date"
              id="Date"
              class="form-control"
              value="{{record.Date}}"
              required
            />
          </div>
        </div>

        <div class="row mb-4 g-2 align-items-center">
          <label
            for="categoryId"
            class="mb-1 col-md-2 col-form-label"
          >類別*
          </label>
          <div class="col-md-9">
            <select
              type="text"
              id="categoryId"
              name="categoryId"
              class="form-control"
              required>
              {{#each categories}}
              <option value="{{this._id}}" 
              {{#if this.preset}}selected="selected" {{/if}}>
              {{this.name}}
              </option>
              {{/each}}
            </select>
          </div>
        </div>

        <div class="row mb-4 g-2 align-items-center">
          <label for="amount" class="mb-1 col-md-2 col-form-label">金額* :</label>
          <div class="col-md-9">
            <input
              id="amount"
              type="number"
              placeholder="amount"
              name="amount"
              min="0"
              class="form-control"
              value="{{record.amount}}"
              required
            />
          </div>
        </div>

        <div class="row mb-4 g-2 align-items-center col-auto">
          <div class="d-flex justify-content-center col-md">
            <button type="submit" class="btn btn-primary col-md-6">儲存</button>
          </div>

          <div class="d-flex justify-content-center col-md">
            <a href="/" class="btn btn-secondary col-md-6">返回</a>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>