<div class="container-xl">
  <div class="d-flex justify-content-center">
    <div class="row">

      <h2 class="mt-5 align-items-center">類別</h2>
      <div class="my-4">總金額 : </div>

      <ul class="list-group">
        {{#each records}}
          <li class="list-group-item">
            <div class="row">

              <div class="col-1 align-self-center" style="font-size:1.5rem;">
                <i
                  class="fa-solid fa-van-shuttle"
                  style="color:rgb(236, 171, 51)"
                ></i>
              </div>
              <div class="col-auto me-auto">
                <div class="d-flex flex-column">
                  <div class="fs-4">
                    {{this.name}}
                  </div>
                  <div style="padding-left: 3px; font-size: 0.5rem;">
                    {{this.Date}}
                  </div>
                </div>
              </div>
              <div class="col-auto align-self-center">
                $ :
                {{this.amount}}
              </div>

              <div class="col-auto align-self-center">
                <a
                  href="./records/{{this._id}}/edit"
                  class="btn btn-secondary"
                ><i class="fa-solid fa-pen-to-square"></i>修改
                </a>

                <form
                  action="./records/{{this._id}}?_method=DELETE"
                  method="POST"
                  style="display: inline;"
                >
                  <button
                    type="submit"
                    class="btn btn-danger"
                    id="margin: 0; padding: 0; border: 1px solid transparent"
                  ><i class="fa-solid fa-trash"></i>刪除</button>
                </form>
              </div>
            </div>
          </li>
        {{/each}}
      </ul>

      <div class="d-flex justify-content-center">
        <a href="./records/new" class="btn btn-primary mt-3">新增支出</a>
      </div>
    </div>
  </div>
</div>