<div class="container-xl">
  <div class="d-flex justify-content-center">
    <div class="row">

      <h2 class="mt-5 align-items-center">類別</h2>
      <div class="mt-2 mb-3">總金額 : </div>
      <ul>
        {{#each records}}
          <li>
            {{this.name}}、{{this.Date}}、{{this.amount}}
            <a href="./records/{{this._id}}/edit">修改</a>
            <form
              action="./records/{{this._id}}/delete"
              method="POST"
              style="inline"
            >
              <button type="submit">刪除</button>
            </form>
          </li>
        {{/each}}
      </ul>
      <a href="./records/new">新增支出</a>
    </div>
  </div>
</div>